*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

/* body{
    background-image: url(../images/bg16.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
} */

